/* Estilos generales */
body {
    font-family: 'Arial', sans-serif;
    background: url('../Imagenes/Banner.png') no-repeat center center fixed;
    background-size: cover; /* Ajusta la imagen de fondo para cubrir toda el área */
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    margin: 0;
}

/* Contenedor del formulario de inicio de sesión */
.login-container {
    background-color: #ffffff; /* Fondo blanco sólido para el contenedor del formulario */
    padding: 30px;
    border-radius: 8px;
    box-shadow: 0 4px 12px rgba(0, 0, 0, 0.2);
    width: 100%;
    max-width: 400px; /* Ajusta el ancho máximo del contenedor */
    box-sizing: border-box;
}

/* Título del formulario */
.login-container h1 {
    text-align: center;
    color: #333333; /* Color oscuro para el título */
    margin-bottom: 25px;
    font-size: 32px; /* Tamaño de fuente del título */
    font-weight: bold;
}

/* Estilos de los campos de entrada */
.login-container input[type="text"],
.login-container input[type="password"] {
    width: 100%;
    padding: 12px;
    margin: 10px 0;
    border: 1px solid #ccc;
    border-radius: 5px;
    box-sizing: border-box;
    font-size: 16px; /* Tamaño de fuente en los campos de entrada */
}

/* Estilos del botón de inicio de sesión */
.login-container button {
    width: 100%;
    padding: 12px;
    background-color: #5cb85c; /* Color verde sólido para el botón */
    border: none;
    border-radius: 5px;
    color: #ffffff; /* Texto blanco en el botón */
    font-size: 16px; /* Tamaño de fuente del botón */
    cursor: pointer;
    transition: background-color 0.3s, transform 0.3s; /* Transiciones suaves */
}

/* Efecto hover para el botón de inicio de sesión */
.login-container button:hover {
    background-color: #4cae4c; /* Color verde más oscuro al pasar el ratón */
    transform: scale(1.05); /* Escala el botón ligeramente */
}

/* Texto dentro del contenedor del formulario */
.login-container {
    text-align: center;
    color: #666666; /* Color gris oscuro para el texto */
}

/* Estilos del footer */
footer {
    color: #ffffff; /* Texto blanco para el footer */
    padding: 15px;
    background-color: #222222; /* Fondo oscuro sólido para el footer */
    position: fixed;
    width: 100%;
    bottom: 0;
    text-align: center;
    font-size: 14px; /* Tamaño de fuente del footer */
}
